section p
{
  background-color: aquamarine;
}
/* p:nth-child(1) */

/* section > div 
{
  background-color: blueviolet;
} */

/* h2 + p
{
  background-color: red;
}  */
/* h2 ~ p
{
  background-color: blue;
} */
/* .header
{
  color: orange;
}
#header
{
  background-color: burlywood;
} */
/* body h1
{
  color: teal;
} */
p::before { content:before; color: green;}
h1:hover
{
  background-color: black;
}
li:nth-child(1){ color: red;}
li:nth-child(2){ color: gold;}
li:nth-child(2){ color: greenyellow;}
/* p:first-child
{
  color: rgb(19, 125, 231);
} */
body p 
{
  color: white;
}
body 
{
  font-size: 1.1em;
  background-color: darkslategray;
  color: black;
}
h1
{
  color: coral;
}
#intro
{
  font-size: 1.3em;
}
.colorful
{
  color: orange;
}
section
{
  border: 5px solid black; padding: 10px; background-color: #dbfffe ;
}